In [1]:
import pandas as pd

# load the dataset
task_table = pd.read_csv('D://Universities Lectures//AlibabaProject//pai_task_table.csv')
task_table.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time
0,3e6f005d5fc08a0108f4eb1e,ps,1,Terminated,675282,675318,600.0,29.296875,NaN,NaN,36
1,aa93a6ed0b24235487081bf1,ps,1,Terminated,731739,731772,600.0,29.296875,NaN,NaN,33
2,96e053818c246cd68f301d40,ps,2,Terminated,591455,802150,200.0,4.882812,NaN,NaN,210695
3,10e530eb422cec7bb19c6fd7,ps,1,Terminated,687588,807680,100.0,0.976562,NaN,NaN,120092
4,2883edbad23c6bef16f655c0,ps,1,Terminated,610350,813276,100.0,0.976562,NaN,NaN,202926

In [2]:
# load the dataset
machine_metrics = pd.read_csv('D://Universities Lectures//AlibabaProject//pai_machine_metric.csv')
machine_metrics.head()

,worker_name,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,run_time
0,8fa54171acbc9f16704c03f137ac053ede9a97432cfc94...,5248e29b2b7f2b5f8b974608,2134401,2134599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
1,9b69319eb5d19b4ea2514fcb4d761c3d00be925b65f529...,5248e29b2b7f2b5f8b974608,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,384588331.2,15.672816,49.391271,113
2,b37cd5d848323f23352464f71d3c27ef4796532ee09d59...,5248e29b2b7f2b5f8b974608,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,702799379.2,14.234469,50.949074,321
3,8a3db37b3795c7c753963d0ef966df9703d39b9f918e1a...,5248e29b2b7f2b5f8b974608,2119980,2134354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14374
4,f114ac24745ec00da7107387afc99ed7cd8132530e8ef7...,5248e29b2b7f2b5f8b974608,2164803,2171278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6475

In [3]:
machine_metrics.isnull().sum()

worker_name                0
machine                    0
start_time                 0
end_time                   0
machine_cpu_iowait     42111
machine_cpu_kernel     59422
machine_cpu_usr        43613
machine_gpu            53859
machine_load_1         50347
machine_net_receive    46597
machine_num_worker     52708
machine_cpu            60953
run_time                   0
dtype: int64

In [4]:
machine_metrics.dropna(inplace=True)

In [5]:
machine_metrics.tail()

,worker_name,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,run_time
499994,adee9d2bd7265e9c6a3a9b599ac147f1ad9cc34e56f0d5...,274faea7c2b83356d5de3b77,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512,1028
499995,fcf321bd4d26c893574e29d2e17740e3d61015b05a84f6...,274faea7c2b83356d5de3b77,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,101
499996,bdc422a0fc9e4e9f47c4deea474db2bca79c1c626e369a...,274faea7c2b83356d5de3b77,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,91
499997,32d57bdcdcca54e964f75fcba6c975f5b1eb5258727f81...,274faea7c2b83356d5de3b77,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335,51
499998,d289a1564cb71833b8982e645bb658b75476a468476a20...,274faea7c2b83356d5de3b77,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215,1587

In [6]:
machine_metrics.head()

,worker_name,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,run_time
1,9b69319eb5d19b4ea2514fcb4d761c3d00be925b65f529...,5248e29b2b7f2b5f8b974608,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,384588331.2,15.672816,49.391271,113
2,b37cd5d848323f23352464f71d3c27ef4796532ee09d59...,5248e29b2b7f2b5f8b974608,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,702799379.2,14.234469,50.949074,321
7,7f1f4d76602d2071cb959a7ec47873e1007bee8046b2dd...,5248e29b2b7f2b5f8b974608,2659273,2673034,0.000614,7.683578,30.595101,498.010627,74.101198,314312965.7,12.209609,38.279293,13761
8,6ecadb953221add9491f244051114c7a2c4d5c63b7ffe3...,5248e29b2b7f2b5f8b974608,2660994,2674496,0.000622,7.427590,29.311445,494.623959,64.539163,318783570.7,12.199445,36.739657,13502
9,66ae3b379970ed9246766f1e7b473b5913f10917ae0aed...,5248e29b2b7f2b5f8b974608,2826419,2834615,0.005638,8.428983,37.379467,231.566358,79.317289,435045795.8,15.794257,45.814088,8196

In [7]:
task_table.isnull().sum()

job_name          0
task_name         0
inst_num          0
status            0
start_time        0
end_time          0
plan_cpu        351
plan_mem        351
plan_gpu      99150
gpu_type      99009
run_time          0
dtype: int64

In [8]:
task_table.dropna(inplace=True)

In [9]:
task_table.tail()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time
499994,76f391e1deed03eb87ade370,tensorflow,1,Terminated,4480035,4483303,600.0,29.296875,100.0,MISC,3268
499995,64002d792fba760cddebd253,tensorflow,1,Terminated,4482654,4483307,600.0,29.296875,100.0,P100,653
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,Terminated,4482651,4483320,600.0,29.296875,100.0,P100,669
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,Terminated,4482936,4483322,600.0,29.296875,25.0,T4,386
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,Terminated,4481414,4483325,600.0,29.296875,100.0,MISC,1911

In [10]:
task_table.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time
44,24332dee037bba41c8e0fceb,tensorflow,1,Terminated,1081646,1094419,600.0,29.296875,200.0,T4,12773
46,b233af4f9e57c661d67a5be0,tensorflow,1,Terminated,1082995,1094430,600.0,29.296875,200.0,T4,11435
47,46fc89d6895e36ce7d1e7ab8,tensorflow,1,Terminated,1094116,1094453,600.0,29.296875,25.0,T4,337
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,Terminated,1094446,1094492,1800.0,58.593750,100.0,T4,46
51,01cd6d7c0c55510abc9785f2,tensorflow,1,Terminated,1094430,1094514,600.0,29.296875,100.0,MISC,84

In [11]:
task_table

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time
44,24332dee037bba41c8e0fceb,tensorflow,1,Terminated,1081646,1094419,600.0,29.296875,200.0,T4,12773
46,b233af4f9e57c661d67a5be0,tensorflow,1,Terminated,1082995,1094430,600.0,29.296875,200.0,T4,11435
47,46fc89d6895e36ce7d1e7ab8,tensorflow,1,Terminated,1094116,1094453,600.0,29.296875,25.0,T4,337
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,Terminated,1094446,1094492,1800.0,58.593750,100.0,T4,46
51,01cd6d7c0c55510abc9785f2,tensorflow,1,Terminated,1094430,1094514,600.0,29.296875,100.0,MISC,84
...,...,...,...,...,...,...,...,...,...,...,...
499994,76f391e1deed03eb87ade370,tensorflow,1,Terminated,4480035,4483303,600.0,29.296875,100.0,MISC,3268
499995,64002d792fba760cddebd253,tensorflow,1,Terminated,4482654,4483307,600.0,29.296875,100.0,P100,653
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,Terminated,4482651,4483320,600.0,29.296875,100.0,P100,669
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,Terminated,4482936,4483322,600.0,29.296875,25.0,T4,386
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,Terminated,4481414,4483325,600.0,29.296875,100.0,MISC,1911

In [12]:
task_table.drop('run_time', axis=1, inplace=True)

In [13]:
machine_metrics.drop('start_time', axis=1, inplace=True)

In [14]:
machine_metrics.drop('end_time', axis=1, inplace=True)

In [15]:
machine_metrics

,worker_name,machine,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,run_time
1,9b69319eb5d19b4ea2514fcb4d761c3d00be925b65f529...,5248e29b2b7f2b5f8b974608,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,49.391271,113
2,b37cd5d848323f23352464f71d3c27ef4796532ee09d59...,5248e29b2b7f2b5f8b974608,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,50.949074,321
7,7f1f4d76602d2071cb959a7ec47873e1007bee8046b2dd...,5248e29b2b7f2b5f8b974608,0.000614,7.683578,30.595101,498.010627,74.101198,3.143130e+08,12.209609,38.279293,13761
8,6ecadb953221add9491f244051114c7a2c4d5c63b7ffe3...,5248e29b2b7f2b5f8b974608,0.000622,7.427590,29.311445,494.623959,64.539163,3.187836e+08,12.199445,36.739657,13502
9,66ae3b379970ed9246766f1e7b473b5913f10917ae0aed...,5248e29b2b7f2b5f8b974608,0.005638,8.428983,37.379467,231.566358,79.317289,4.350458e+08,15.794257,45.814088,8196
...,...,...,...,...,...,...,...,...,...,...,...
499994,adee9d2bd7265e9c6a3a9b599ac147f1ad9cc34e56f0d5...,274faea7c2b83356d5de3b77,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512,1028
499995,fcf321bd4d26c893574e29d2e17740e3d61015b05a84f6...,274faea7c2b83356d5de3b77,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,101
499996,bdc422a0fc9e4e9f47c4deea474db2bca79c1c626e369a...,274faea7c2b83356d5de3b77,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,91
499997,32d57bdcdcca54e964f75fcba6c975f5b1eb5258727f81...,274faea7c2b83356d5de3b77,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335,51
499998,d289a1564cb71833b8982e645bb658b75476a468476a20...,274faea7c2b83356d5de3b77,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215,1587

In [16]:
task_table

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
44,24332dee037bba41c8e0fceb,tensorflow,1,Terminated,1081646,1094419,600.0,29.296875,200.0,T4
46,b233af4f9e57c661d67a5be0,tensorflow,1,Terminated,1082995,1094430,600.0,29.296875,200.0,T4
47,46fc89d6895e36ce7d1e7ab8,tensorflow,1,Terminated,1094116,1094453,600.0,29.296875,25.0,T4
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,Terminated,1094446,1094492,1800.0,58.593750,100.0,T4
51,01cd6d7c0c55510abc9785f2,tensorflow,1,Terminated,1094430,1094514,600.0,29.296875,100.0,MISC
...,...,...,...,...,...,...,...,...,...,...
499994,76f391e1deed03eb87ade370,tensorflow,1,Terminated,4480035,4483303,600.0,29.296875,100.0,MISC
499995,64002d792fba760cddebd253,tensorflow,1,Terminated,4482654,4483307,600.0,29.296875,100.0,P100
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,Terminated,4482651,4483320,600.0,29.296875,100.0,P100
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,Terminated,4482936,4483322,600.0,29.296875,25.0,T4
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,Terminated,4481414,4483325,600.0,29.296875,100.0,MISC

In [17]:
# Select the column you want to add from df1
col_to_add = machine_metrics[['run_time', 'machine_cpu_iowait','machine_cpu_kernel','machine','machine_load_1','machine_cpu']]

In [18]:
# # Add the columns to df2
# df2[['new_column_name1', 'new_column_name2', 'new_column_name3']] = cols_to_add
# Add the columns to df2
for col in col_to_add:
    task_table[col] = machine_metrics[col]

In [19]:
task_table.head()

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time,machine_cpu_iowait,machine_cpu_kernel,machine,machine_load_1,machine_cpu
44,24332dee037bba41c8e0fceb,tensorflow,1,Terminated,1081646,1094419,600.0,29.296875,200.0,T4,NaN,NaN,NaN,NaN,NaN,NaN
46,b233af4f9e57c661d67a5be0,tensorflow,1,Terminated,1082995,1094430,600.0,29.296875,200.0,T4,NaN,NaN,NaN,NaN,NaN,NaN
47,46fc89d6895e36ce7d1e7ab8,tensorflow,1,Terminated,1094116,1094453,600.0,29.296875,25.0,T4,NaN,NaN,NaN,NaN,NaN,NaN
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,Terminated,1094446,1094492,1800.0,58.593750,100.0,T4,5424.0,0.000470,10.374486,5248e29b2b7f2b5f8b974608,145.808261,71.948594
51,01cd6d7c0c55510abc9785f2,tensorflow,1,Terminated,1094430,1094514,600.0,29.296875,100.0,MISC,2454.0,0.000894,6.380204,5248e29b2b7f2b5f8b974608,25.271145,26.066257

In [20]:
task_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400849 entries, 44 to 499998
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   job_name            400849 non-null  object
 1   task_name           400849 non-null  object
 2   inst_num            400849 non-null  int64
 3   status              400849 non-null  object
 4   start_time          400849 non-null  int64
 5   end_time            400849 non-null  int64
 6   plan_cpu            400849 non-null  float64
 7   plan_mem            400849 non-null  float64
 8   plan_gpu            400849 non-null  float64
 9   gpu_type            400849 non-null  object
 10  run_time            328573 non-null  float64
 11  machine_cpu_iowait  328573 non-null  float64
 12  machine_cpu_kernel  328573 non-null  float64
 13  machine             328573 non-null  object
 14  machine_load_1      328573 non-null  float64
 15  machine_cpu         328573 non-null  float64
dtypes: float64(8), int64(3), object(5)
memory usage: 52.0+ MB

In [21]:
task_table.isnull().sum()

job_name                  0
task_name                 0
inst_num                  0
status                    0
start_time                0
end_time                  0
plan_cpu                  0
plan_mem                  0
plan_gpu                  0
gpu_type                  0
run_time              72276
machine_cpu_iowait    72276
machine_cpu_kernel    72276
machine               72276
machine_load_1        72276
machine_cpu           72276
dtype: int64

In [22]:
task_table.dropna(inplace=True)

In [23]:
task_table

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time,machine_cpu_iowait,machine_cpu_kernel,machine,machine_load_1,machine_cpu
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,Terminated,1094446,1094492,1800.0,58.593750,100.0,T4,5424.0,0.000470,10.374486,5248e29b2b7f2b5f8b974608,145.808261,71.948594
51,01cd6d7c0c55510abc9785f2,tensorflow,1,Terminated,1094430,1094514,600.0,29.296875,100.0,MISC,2454.0,0.000894,6.380204,5248e29b2b7f2b5f8b974608,25.271145,26.066257
52,be81bee1910d2ad6825fee6f,worker,50,Terminated,1089298,1094522,400.0,19.531250,50.0,MISC,2367.0,0.001701,24.821035,5248e29b2b7f2b5f8b974608,215.624891,59.594216
54,81bf8507c3645aca5dd14994,tensorflow,1,Terminated,1094446,1094526,600.0,29.296875,100.0,MISC,8263.0,0.005904,8.922031,5248e29b2b7f2b5f8b974608,81.486085,46.221823
55,82980393dbf2744dbba2e806,xComputeWorker,1,Terminated,1094103,1094544,1000.0,19.550781,50.0,T4,6263.0,0.001435,8.766022,5248e29b2b7f2b5f8b974608,95.594414,61.367088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,76f391e1deed03eb87ade370,tensorflow,1,Terminated,4480035,4483303,600.0,29.296875,100.0,MISC,1028.0,0.004562,4.102616,274faea7c2b83356d5de3b77,21.956170,21.490512
499995,64002d792fba760cddebd253,tensorflow,1,Terminated,4482654,4483307,600.0,29.296875,100.0,P100,101.0,0.002716,1.676733,274faea7c2b83356d5de3b77,18.782778,19.122290
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,Terminated,4482651,4483320,600.0,29.296875,100.0,P100,91.0,0.002716,1.676733,274faea7c2b83356d5de3b77,18.782778,19.122290
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,Terminated,4482936,4483322,600.0,29.296875,25.0,T4,51.0,0.002670,1.787369,274faea7c2b83356d5de3b77,20.071826,20.380335
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,Terminated,4481414,4483325,600.0,29.296875,100.0,MISC,1587.0,0.003105,2.296367,274faea7c2b83356d5de3b77,23.359893,23.871215

In [24]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
# Convert object columns to int label encoding
label_encoder = LabelEncoder()
task_table['gpu_type'] = label_encoder.fit_transform(task_table['gpu_type'])
task_table['status'] = label_encoder.fit_transform(task_table['status'])
task_table['machine'] = label_encoder.fit_transform(task_table['machine'])
task_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328573 entries, 50 to 499998
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   job_name            328573 non-null  object
 1   task_name           328573 non-null  object
 2   inst_num            328573 non-null  int64
 3   status              328573 non-null  int32
 4   start_time          328573 non-null  int64
 5   end_time            328573 non-null  int64
 6   plan_cpu            328573 non-null  float64
 7   plan_mem            328573 non-null  float64
 8   plan_gpu            328573 non-null  float64
 9   gpu_type            328573 non-null  int32
 10  run_time            328573 non-null  float64
 11  machine_cpu_iowait  328573 non-null  float64
 12  machine_cpu_kernel  328573 non-null  float64
 13  machine             328573 non-null  int32
 14  machine_load_1      328573 non-null  float64
 15  machine_cpu         328573 non-null  float64
dtypes: float64(8), int32(3), int64(3), object(2)
memory usage: 38.9+ MB

In [25]:
task_table

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type,run_time,machine_cpu_iowait,machine_cpu_kernel,machine,machine_load_1,machine_cpu
50,2b6f206c7f3b1a7e9b245377,PyTorchWorker,1,2,1094446,1094492,1800.0,58.593750,100.0,2,5424.0,0.000470,10.374486,257,145.808261,71.948594
51,01cd6d7c0c55510abc9785f2,tensorflow,1,2,1094430,1094514,600.0,29.296875,100.0,0,2454.0,0.000894,6.380204,257,25.271145,26.066257
52,be81bee1910d2ad6825fee6f,worker,50,2,1089298,1094522,400.0,19.531250,50.0,0,2367.0,0.001701,24.821035,257,215.624891,59.594216
54,81bf8507c3645aca5dd14994,tensorflow,1,2,1094446,1094526,600.0,29.296875,100.0,0,8263.0,0.005904,8.922031,257,81.486085,46.221823
55,82980393dbf2744dbba2e806,xComputeWorker,1,2,1094103,1094544,1000.0,19.550781,50.0,2,6263.0,0.001435,8.766022,257,95.594414,61.367088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,76f391e1deed03eb87ade370,tensorflow,1,2,4480035,4483303,600.0,29.296875,100.0,0,1028.0,0.004562,4.102616,120,21.956170,21.490512
499995,64002d792fba760cddebd253,tensorflow,1,2,4482654,4483307,600.0,29.296875,100.0,1,101.0,0.002716,1.676733,120,18.782778,19.122290
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,2,4482651,4483320,600.0,29.296875,100.0,1,91.0,0.002716,1.676733,120,18.782778,19.122290
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,2,4482936,4483322,600.0,29.296875,25.0,2,51.0,0.002670,1.787369,120,20.071826,20.380335
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,2,4481414,4483325,600.0,29.296875,100.0,0,1587.0,0.003105,2.296367,120,23.359893,23.871215

In [26]:
task_table.drop(['job_name', 'task_name'], axis=1, inplace=True)

In [27]:
# Select the input features and output targets
X = task_table.drop(['plan_cpu', 'inst_num', 'status','plan_mem','plan_gpu','gpu_type','start_time','end_time'], axis=1)
y = task_table[['machine_cpu_iowait', 'machine_cpu_kernel', 'run_time','machine_cpu','machine_load_1']]

In [28]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
# split the data into training and testing sets using a 70:30 ratio
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
y=scaler.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=40)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [29]:
# create the multi-output regression model
model = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', solver='adam', random_state=42)

In [30]:
model.fit(X_train, y_train)

MLPRegressor(hidden_layer_sizes=(100, 50), random_state=42)

In [31]:
y_pred = model.predict(X_test)
score = model.score(X_test, y_test)
print(y_pred)

[[-0.13508682 -0.90396309  0.47534063 -0.83041565 -0.53098584]
 [-0.34668154 -0.39527568 -0.36739019 -1.13623926 -0.24488695]
 [-0.16929481  0.37275245 -0.37469079  0.23127615 -0.19416355]
 ...
 [-0.29118647 -1.01408395 -0.26411125 -1.46908245 -0.61071621]
 [-0.43878312 -0.14629001 -0.36989609  0.8856287  -0.0057457 ]
 [-0.5760527   3.51781082  0.30061726  1.61523159  3.11068337]]

In [32]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print('Mean squared error:', mse)

Mean squared error: 0.00039820512727694473

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
# Test the model on the test set
y_pred = model.predict(X_test)

# Calculate mean absolute error (MAE), root mean squared error (RMSE), and R-squared score
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

# Calculate average waiting time
average_waiting_time = np.mean(y_pred)

# Print the evaluation metrics and average waiting time
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared Score: {r2:.2f}")
print(f"Average Waiting Time: {average_waiting_time:.2f}")

Mean Absolute Error: 0.01
Root Mean Squared Error: 0.02
R-squared Score: 1.00
Average Waiting Time: -0.00